body {
    margin: 0 auto auto 0;
    font-family: "Lexend Deca", sans-serif;
    font-weight: bolder;
    background-color: gainsboro;
    font-size: 1rem;
}
.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: auto;
  grid-template-rows: 80px 100px;
  background-color: #3CB371;
  height: 125vh;
  width:18.75rem;
  padding: 10px;
 }

 .grid-container > div {
    color: whitesmoke;
    padding: 20px 0;
    font-size: 2.25rem;
  }

  .name, #sidebarMenuDiv{
    font-size: 1.75rem;
    margin-top: 0;
  }

  .sideBarMenu {
  margin: 2rem 0 2rem 0;
  display: inline-flex;
  vertical-align: top;
  }

  #icons {
  margin-right: 1rem;
  font-size: 3rem;
  line-height:40px;
  }
  
  .grid-items{
    padding: 20px;
  }

  .nav-bar {
    display: grid;
    grid-template-columns: auto auto;
    height: 15rem;
    width: 100vw;
    background-color: white;
    z-index: 1;
    position: absolute;
    margin-left: 20rem;
    box-shadow: rgb(204, 202, 202) 3px 3px;
  }

.pf{
    border-radius: 70%;
    height: 5rem;
    width: 5rem;
    margin: 1.25rem 0 0 2.5rem;
    float: left;
}

.greetings{
    margin: 2rem 0 0 2rem;
    padding-left: 6.25rem;
    font-weight:lighter;
}


/* buttons */
#newBook,.btnAdd {
  margin: 1rem 0 1rem 2rem;
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  background-color: #3CB371;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #fbfdfc;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #000;
  transform: translateY(-7px);
}

button:active {
  transform: translateY(-1px);
}

#logOut {
  margin: 1.5rem 0 0 2rem;
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  background-color: #e05252;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

#mode{
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border-style: none;
  position: fixed;
  top: 80vh;
  left: 90vw;
}

/* Form */

.divForm{
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  align-items: center;
  justify-items: center;
  position: absolute;
  top: 20vh;
  left: 50vw;
  height: 25rem;
  width: 25rem;
  z-index: 1;
  background: rgba(255, 255, 255, 0.11);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.9px);
  -webkit-backdrop-filter: blur(3.9px);
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.title,.author,.pages {
  height: 2rem;
  width: 20rem;
  font-size: 1rem;
  margin-top: 1rem;
  border-radius: 10px
}

/* Card */

.cardContainer {
  display: flex;
  flex-direction: row;
  width: 77%;
  height: 95%;
  top: 235px;
  left: 320px;
  position: absolute;
  z-index: -1;
  
}

.insertCard {
  display: block;
  background-color: rgb(252, 248, 248);
  width: max-content;
  height: max-content;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: rgb(204, 202, 202) 2px 3px;
}
.insertBookTitle{
padding: 0 10px 0 10px;
}

.insertBookAuthor,.insertBookPages,.bookStatus {
padding-left: 10px;
}

.colorStatus {
  height: 1rem;
  width: 100%
}
/*  */

footer{
  margin-top: 2.5rem;
  font-size: 1.25rem;
  text-align: center;
}

a{
  color: white;
}

